server:
  port: 8080
  servlet:
    context-path: /ms-auth

spring:
  config:
    import: optional:vault://
  cloud:
    vault:
      enabled: true
      uri: http://localhost:8200
      authentication: token
      token: ${TOKEN}
      kv:
        enabled: true
        default-context: jwt
        backend: ms-auth

  application:
    liquibase:
      change-log: classpath:db/changelog/db.changelog-master.yaml

  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://${HOST:localhost}:5433/${POSTGRES_DB:ms-auth}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:mysecretpassword}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: redis
      port: 6379

logging:
  level:
    org.springframework.security: trace

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui

application:
  security:
    jwt:
      private-key: ${ms-auth.jwt.private-key}
      public-key: ${ms-auth.jwt.public-key}
      access-token-expiration: 3600000
      refresh-token-expiration: 86400000
